@import  'bootstrap/scss/bootstrap.scss';


/*    --------------------------------------------------
	:: Login Section
  -------------------------------------------------- */
.iconYellowHouse{
  background: url("../images/icon-casa-amarela-destaque.svg");
  width: 80px;;
  height: 80px;
  background-repeat: no-repeat;
}